# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment
.env
.env.*
!.env.example

# IDE / OS
.vscode/settings.json
.idea/
.DS_Store
**/.DS_Store

# Claude
.claude/
