# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment
.env

# IDE
.vscode/settings.json
.idea/

# macOS
.DS_Store
